body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 80%;
  z-index: 2
}

.elevation-profile-container {
  height: 20%;
  width: 100%;
  position: fixed;
  bottom: 0;
}

#title {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  color: black;
  padding: 2%;
  height: 10%;
  width: 25%;
  position: relative;
  left: 10vw;
  top: 10vh;
  z-index: 3;
  background: rgba(255, 255, 255, .5);
  border: 2px solid #000;
}

#title h1, p {
  margin-top: 0;
  margin-bottom: 0;
}

#etappe {
  color: rgba(8,144,0,0.7);
  font-size: 1em;
}

.popup {
    font-family: 'Arial', sans-serif;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    opacity: 0.7;
}
